.table {
    margin-top: 20px;
    overflow: auto;
    height: 400px;
    color: #6a5d5d;
    background: white;
    td {
        padding: 0.5rem
    }
    tr {
        display: flex;
        justify-content: space-between;
        &:nth-of-type(odd) {
            background: #f3f2f8;
        }
    }
   
}